body{
}

header{
	display: block;
	background: url("/gestors/web/css/images/fondotitulo.png") repeat-x;
	height: 50px;
	margin-bottom: 30px;
	margin-left: 0;
}

form label {
  width: 100px;
  display: inline-block;
}

form input {
	width: 200px;
	display: inline-block;
	margin-bottom: 5px;
}

.enLinea{
	vertical-align: top;
	display: inline-block;	
}